.menuContainer {
  display: flex;
  align-items: center;
  justify-content: space-between;
  height: 100%;
  padding: 0 10%;
}

.link {
  color: #cf5c36;
  text-decoration: none;
  transition: 0.3s;
}

.link:hover {
  color: #efc88b;
  font-weight: bold;
}

.menuItemImg {
  height: 80px;
}
