.menuContainer {
  padding: 0 10%;
  height: 100%;
}

.menu {
  display: flex;
  list-style: none;
  color: #cf5c36;
  height: 100%;
}

.menuItem {
  display: flex;
  align-items: center;
  justify-content: center;
  margin: 0 20px;
  width: 100%;
  height: 100%;
  cursor: pointer;
  transition: 0.3s;
}

.menuItem:hover {
  color: #efc88b;
  font-weight: bold;
}

.menuItemImg {
  height: 80px;
}
