.about {
  padding: 80px 20%;
}

.about_title {
  text-align: center;
  font-size: 2rem;
}

.about_title::after,
.about_title::before {
  content: "";
  display: block;
  width: 300px;
  height: 3px;
  margin: 0 auto;
  background: #cf5c36;
}
