.shows {
  padding: 80px 20%;
}

.shows_title {
  text-align: center;
  font-size: 2rem;
}

.shows_title::after,
.shows_title::before {
  content: "";
  display: block;
  width: 200px;
  height: 3px;
  margin: 0 auto;
  background: #cf5c36;
}
